/* title section */
h2 {
  position: relative;
  left: 53%;
  margin: -5px;
}

/*  Main content */
.checkout-container {
  display: flex;
  gap: 10%; /* 10% of the container’s inline size between columns */
}

/* Left column: a list of items in cart */
.left-container {
  flex: 0 0 50%; /* take up 50% of the screen */
}

/* Item card */
.item-card {
  display: flex;
  align-items: flex-start;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #e5e5e5;
}

.item-card img {
  width: 25%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.item-details {
  flex: 1;
}
.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}
.item-title {
  font-size: 1.25rem;
}

.item-subtitle {
  font-size: 0.875rem;
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}

.item-price {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.remove {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  user-select: none;
  margin-left: -1%; /* to account for icon size */
}

.remove img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* Right column: order summary box */
.right-container {
  flex: 0 0 30%;
  background-color: var(--warm-background-color);
  padding: 2rem;
  border-radius: 1rem;
}

/* Summary lines */
.summary .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: var(--secondary-text-color);
}
.summary .row.total {
  border-radius: var(--not-rounded);
  border-top: 1px solid black;
  padding-top: 0.5rem;
  color: black;
}

.price {
  color: black;
  font-weight: var(--regular);
  font-size: 1rem;
}

@media (max-width: 768px) {
  h2 {
    left: unset;
    text-align: center;
    padding-bottom: 5%; /*  center the title vertically */
  }

  .checkout-container {
    display: block;
  }

  .item-card .image {
    width: 30%;
  }

  .remove img {
    width: 1.25rem;
  }
  .item-price {
    font-size: 1rem;
  }
}
