
/* category title section */
.title {
  margin-bottom: 1rem;
}

.title h2 {
  margin: 0;
  font-size: 3.4rem;
  font-weight: var(--normal);
}

/* view all guitars button */
.action-button {
    font-size: 1.25rem;
    width: 50%;
}

@media (max-width: 769px) {
  .title h2 {
    font-size: 1.5rem;
  }

  .carousel .card {
    flex-basis: 140px; /* Reduced from 200px */
    /* Adjust this value as needed */
  }
}
