/* import the roboto and poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* :root selects the root element of the document:
   <html> in the case of HTML */

/* in most cases if a variable is set inside the root like:
color: blue;
most elements in the html will inherit that feature
same applies to font style, size and other things... */

:root {
    /* colours */
    --category--grid-color: #fcd772;
    --background-color: #FAF3E0;
    --warm-ish-background-color: #EFDB99;
    --warm-background-color: #DECA87;
    --footer-color: #302606;
    --footer-secondary-text-color: #D1D5DB;
    --banner-color: #7D661C;
    --action-button-color: black;
    --main-text-color: black;
    --secondary-text-color:#525252;

    /* font */
    /* if font property not specified then defaults to normal/medium */
    /* if the user machine can't use roboto, then defaults to sans serif */
    font-family: "Roboto", sans-serif; 
    --all-caps-font: "Poppins", sans-serif;
    /* font weights */
    --medium: 500;
    --semi-bold: 600;


    /* borders */
    --corner-radius: 16px; /* to be consistent with figma */



}

/* A common threshold for screen width is around 768px, which typically separates phones from tablets/desktops. */


/* General styling */
body {
    background-color: var(--background-color);
}


/* ---------- Overriding defaults -------------- */
/* unordered list */
ul {
    padding-inline-start: 0; /* removes default left padding */
}

/* hrefs (links) */
a {
  color: inherit; /* makes it use the surrounding text color */
  text-decoration: none; /* removes underline */
}

/* main frame */
.main {
    padding: 10px;
    
}



/* Button styling */
.category-button {
    background-color: var(--category--grid-color);
    color: var(--text-color);
}

.action-button {
    background-color: var(--accent-color);
}


.row{
    display: flex;
}

/* nav bar */
nav ul {
    display: flex;
}


/* --------------------------------------------------
----------------- header styling -------------------- 
--------------------------------------------------- */




/* --------------------------------------------------
----------------- Banner styling -------------------- 
--------------------------------------------------- */ 
.banner {
    background-color: var(--banner-color);
    
}

/* styling for banner headers */
.banner h2 {
    font-size: 1.25rem;
    color: #F4F3F2;
    margin-bottom: 0.5rem;
}

/* styling for banner content */
.banner p {
    color: var(--footer-secondary-text-color);
    font-size: 0.9rem;
    line-height: 1.4;
}


/* --------------------------------------------------
----------------- Checkout titles -------------------- 
--------------------------------------------------- */ 
.checkout h1 {
    font-family: var(--all-caps-font);
    font-weight: var(--semi-bold);
}


/* --------------------------------------------------
----------------- Footer styling -------------------- 
--------------------------------------------------- */ 

/* note this matches the footer HTML tag, not a class or ID named "footer" */
footer {
    background-color: var(--footer-color);
    padding: 26px 13px; /* top and bottom are 26px, left and right are 13px */
}

@media (min-width: 769px) {
    .footer-grid {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem, 3rem;
    }
}

.footer-column {
    /* flex: 1 1 200px;
    margin: 10px; */
}

.footer-column h4 {
    color: white;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.footer-column ul {
    color: var(--footer-secondary-text-color);
    list-style: none;
}

.footer-column p {
    color: var(--footer-secondary-text-color);
    font-size: 0.8em;
    line-height: 1.7;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.footer-bottom {
    text-align: center;
    color: #9CA3AF;
    font-size: 0.7em;
}