<header>
  <a href="home.html" class="title">The Music Swop Shop</a>
  <form class="search">Search instruments, brands, etc...</form>
  <a href="cart.html" class="cart-icon">🛒<span>2</span></a> <!-- what is span here?-->

  <!-- category bar -->
  <nav>
    <ul>
      <li><a href="#">Newest Arrivals</a></li>
      <li><a href="#">Sale</a></li>
      <li><a href="product_list.html">Guitars</a></li>
      <li><a href="#">Drums</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Keyboards</a></li>
      <li><a href="#">Amps</a></li>
      <li><a href="#">Bass</a></li>
  </nav>

</header>
